img{
  width: auto;
  height: 300px;
  border-radius: 50%;
  margin-top: 8%;

}
h1{
  font-family: "Gill Sans", sans-serif;
  padding-top: 140%;
 
  
  
}
.style{
  display: flex;
  background-color: lightgrey;
  box-shadow: 3px 3px 1px #aaaaaa;

}

.App{
  
  box-shadow: 3px 3px 2px #aaaaaa;
  width: 30%;
  height: 150px;
  display: flex;
  
}
address{

  color: darkcyan;
  padding-top: 10%;
  padding-left: 4%;
  font-style: italic;
  font-size:larger
  
 
}

